#container{
    background-image: url(./background.jpg);
    background-size: 150%;
    background-position: 50%;

}

main{
    float: left;
    width: 25%;
    height: 400px;
}

#noticias{
    float: left;
    width: 50%;
    height: 400px;
}

#extras{
    float: left;
    width: 25%;
    height: 400px;
}

footer{ 
    clear: left; 
    background-color: gray;
}

header{
    background-color: gray;
}