#main-div {
    width: 960px;
    height: 400px;
    margin: 0 auto;
    background-image: url(./captura.png);
    background-size: 1300px;
    background-repeat: repeat-y;
}

main {
    float: left;
    width: 610px;
    height: 380px;
    margin: 0 20px;
}

#extras {
    float: left;
    width: 270px;
    height: 380px;
    margin: 0 20px;
}

footer { 
    clear: left; 
    background-color: grey;
}

header{
    background-color: grey;
}