@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{ font-family: 'Open Sans', sans-serif; }

h1{
    width: 100%;
    height: 140px;
    background-image: url('../imgs/tarta_manzana.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    padding-top: 80px;
    color: white;
    font-size: 52px;
}

main{
    padding: 10px;
}

nav{
    width: 100%;
    height: 50px;
}

nav p{
    float: left;
    margin: 1.5em 0.2em;
    font-size: 12px;
    font-weight: bold;
}

nav > div{
    width: 33%;
    float: left;
    margin: 0 auto;
}

nav > div > div{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

nav > div > div > div{
    margin: 1em 0;
    width: 25px;
    height: 25px;
    background-image: url('../imgs/iconos_v.png');
    background-size: cover;
    background-position: top;
    float: left;
}

nav div:nth-child(2) div{
    background-position:center
}

nav div:nth-child(3) div{
    background-position:bottom
}

section{
    width: 100%;
    height: 60px;
    text-align: center;
}

section p{
    margin: 0;
}

section > div{
    width: fit-content;
    margin: 0 auto;
    font-size: 16px;
}

section > div div{
    float: left;
}

section > div > div:nth-child(even){
    width: 2px;
    height: 50px;
    background-color: #d6d6d6;
    margin: 0 1em;
}

section > div > div:nth-child(1) > div:nth-child(1){
    margin: 0.5em;
    width: 35px;
    height: 35px;
    background-image: url('../imgs/iconos_v.png');
    background-size: cover;
    background-position: top;
    float: left;
}

section > div > div:nth-child(1) > p{
    float: left;
}

span{
    font-weight: bold;
}

nav, section{
    border-style: solid;
    border-width: 0;
    border-bottom-width: 4px;
    border-color: #424242;
}

@media (min-width: 30.5em){
    main{
        padding: 25px;
    }
    main > div{
        float: left;
        width: 60%;
        padding-left: 20px;
        margin-bottom: 40px;
    }
    nav, section{
        width: 33%;
        height: 100%;
        float: left;
    }
    nav > div{
        padding-right: 20px;
        width: fit-content;
        float: none;
        margin: 0 0 0 auto;
    }
    nav > div > div{
        width: 100%;
        height: 60px;
    }
    nav > div > div > div{
        width: 25px;
        height: 25px;
    }
    nav p{
        font-size: 12px;
    }
    section{
        height: 120px;
        text-align: right;
    }
    section > div{
        padding-right: 20px;
    }
    section > div > div{
        float: none;
        width: 100%;
        height: 50px;
    }
    section > div > div:nth-child(1) > div:nth-child(1){
        width: 25px;
        height: 25px;
    }
    section > div > div:nth-child(even){
        height: 100px;
        margin: 0 2em;
    }
    nav, section{
        border-bottom-width: 0px;
        border-right-width: 4px;
    }
    section > div > div:nth-child(even){
        display: none;
    }
}

@media (min-width: 50.5em){
    main{
        padding: 25px;
    }
    main > div{
        float: left;
        height: 300px;
        width: 60%;
    }
    nav, section{
        width: 33%;
        height: 300px;
        float: left;
    }
    nav > div{
        width: 28%;
        float: left;
        margin: 0 0 0 auto;
        padding: 0 5px;
    }
    nav > div > div{
        width: 100%;
        height: 60px;
    }
    nav > div > div > div{
        width: 25px;
        height: 25px;
    }
    nav p{
        font-size: 12px;
    }
    section{
        text-align: right;
    }
    section > div{
        padding-right: 20px;
    }
    section > div > div{
        float: left;
        width: fit-content;
        height: 50px;
    }
    section > div > div:nth-child(1) > div:nth-child(1){
        width: 25px;
        height: 25px;
    }
    section > div > div:nth-child(even){
        height: 40px;
        width: 1px;
        margin: 0 0.25em;
    }
    nav, section{
        border-bottom-width: 0px;
        border-right-width: 4px;
    }
    section > div > div:nth-child(even){
        display: inline;
    }
}