#color_palette{
    color: #232323;
    color: #f6f6f6;
    color: #f1121f;
    color: #929292;
    color: #757575;
    color: #5e5e5e;
}

*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Muller';
    background-color: #5e5e5e;
    color: #f6f6f6;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    width: 400px;
    height: 500px;
    gap: 20px;
    background-color: #232323;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    border-radius: 5%;
    box-shadow: 20px 20px #2c2c2c;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    border-radius: 25%;
}

.button:hover{
    background-color: #929292;
}

.operator{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    background-color: #f1121f;
    border-radius: 25%;
}

.specials{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    background-color: #f1121f;
    border-radius: 25%;
}

.operator:hover{
    background-color: #f54f59;
}

#clear{
    background-color: #f1121f;
}

#clear:hover{
    background-color: #f54f59;
}

#panel{
    background-color: #f6f6f6;
    grid-column: 2 / 5;
    color: #232323;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#previous{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 25%;
    font-size: 20px;
    color: #f1121f;
}

#screen{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 75%;
    font-size: 38px;
    overflow-x: scroll;
}