<!DOCTYPE html>

<html>

    <head>
        <title>Document</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>

        <div class="halfs">
            <div style="background-image: url(img/apples.jpg);">
                <h1 class="text">Manzanas</h1>
                <p class="text">Manzanas rojas.Manzanas rojas.Manzanas rojas.Manzanas rojas.Manzanas rojas.Manzanas rojas.Manzanas rojas.Manzanas rojas.Manzanas rojas.</p>
            </div>

            <div style="background-image: url(img/kiwis.jpg);">
                <h1 class="text">Kiwis</h1>
                <p class="text">Kiwis peludos.Kiwis peludos.Kiwis peludos.Kiwis peludos.Kiwis peludos.Kiwis peludos.Kiwis peludos.Kiwis peludos.Kiwis peludos.</p>
            </div>

            <div style="background-image: url(img/lemons.jpg);">
                <h1 class="text">Limones</h1>
                <p class="text">Limones amarillos.Limones amarillos.Limones amarillos.Limones amarillos.Limones amarillos.Limones amarillos.Limones amarillos.</p>
            </div>

            <div style="background-image: url(img/oranges.jpg);">
                <h1 class="text">Naranjas</h1>
                <p class="text">Naranjas naranjas.Naranjas naranjas.Naranjas naranjas.Naranjas naranjas.Naranjas naranjas.Naranjas naranjas.Naranjas naranjas.</p>
            </div>
        </div>

    </body>

</html>